<div class="light-state-container">
    
    <div class="flex-container info-area light-button-info {{ 'hidden-info' if switch_state }}">
        <h2>Light State</h2>
        <div class="flex-container info-area light-icon-info-container {{ 'auto-on' if light_state else 'auto-off' }}">
            <img 
            src="{{ url_for('static', filename='images/light-icon.png') }}" 
            alt="Light icon" 
            class="light-icon-auto"
        />
        </div>
    </div>
    
    <button 
        type="button" 
        class="flex-container light-button {{ 'on' if light_state else 'off' }} {{ 'hidden-info' if switch_state }}" 
        onclick="update_light_button_state()">
            <img 
                src="{{ url_for('static', filename='images/light-icon.png') }}" 
                alt="Light icon" 
                class="light-icon {{ 'on' if light_state else 'off' }}"
            />
    </button>

</div>