<nav class="navbar">
    <div class="navbar-logo-container" onclick="location.reload();">
        <img 
            src="{{ url_for('static', filename='images/SmartGreenhouse-logo.png') }}" 
            alt="Smart GreenHouse Logo" 
            class="navbar-logo"
        />

        <h1 class="navbar-message">
            Smart GreenHouse Technologies
        </h1>
    </div>
    
    <div class="user-menu">
        <img 
            src="{{ url_for('static', filename='images/user-icon.png') }}" 
            alt="User profile icon" 
            class="user-icon" 
            onclick="toggle_dropdown()"
        />
        <div id="dropdown-menu" class="dropdown-menu hidden">
            <button 
                id="logout-button" 
                class="dropdown-item" 
                data-url="{{ url_for('logout') }}" 
                type="button"
                onclick="handle_logout(event)">
            
                Logout
            </button>
        </div>
    </div>
</nav>
