{% extends "index.html" %}

{% block title %}Home - Smart GreenHouse{% endblock %}

{% block content %}
<div class="home-container">

    {% include 'components/navbar.html' %}

    <div class="grid-container">
        
        {% with onErrorImage="{{ url_for('static', filename='images/picture.png') }}" %}        
            {% include 'components/cameraContainer.html' %}
        {% endwith %}

        {% with room="diningRoom", label="Dining Room", state=lightStates.diningRoom %}
            {% include 'components/lightButton.html' %}
        {% endwith %}

        {% with room="kitchen", label="Kitchen", state=lightStates.kitchen %}
            {% include 'components/lightButton.html' %}
        {% endwith %}
        
        {% with room="room2", label="Room 2", state=lightStates.room2 %}
                {% include 'components/lightButton.html' %}
            {% endwith %}

    </div>

    {% include 'components/toggleLights.html' %}

</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}
