{% extends "index.html" %}

{% block title %}Home - Smart GreenHouse{% endblock %}

{% block content %}
<div class="home-container">

    {% include 'components/navbar.html' %}

    <div class="grid-container">
        
        {% with onErrorImage="{{ url_for('static', filename='images/picture.png') }}" %}        
            {% include 'components/cameraContainer.html' %}
        {% endwith %}

        {% with type="info", label="temperature", title="Temperature", currentValue=currentTemperature%}
            {% include 'components/textArea.html' %}
        {% endwith %}

        {% with type="info", label="humidity", title="Humidity", currentValue=currentHumidity%}
            {% include 'components/textArea.html' %}
        {% endwith %}

        {% with type="infoAvg", avgTempValue=avgTempValue, avgHumValue=avgHumValue%}
            {% include 'components/textArea.html' %}
        {% endwith %}

    </div>

    {% include 'components/footer.html' %}

</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}
